.App {
  text-align: center;
  margin-top: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

input {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
}

.info-container {
  margin-top: 50px;
}

.last-movement-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
